<!DOCTYPE html>
<html>
<head>
	<title>Instagram</title>
	<link href="assets/css/landing-page.css" rel="stylesheet"/>
</head>

<body>
<div class= "container">
    <div class="row">
        <div class="col-md-9 hidden-xs">
            <div class="parallax-image">
                <img class="phone" src="assets/iphone.png" style="margin-top: 80px" height="420 width="420/>
            </div>
        </div>
    </div>
</div>


</body>
</html>