/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "semantic-ui";
 @import "semantic-ui/collections/menu";
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


#user_avatar {
  margin: 20px auto;
}

.login{
	color:blue;
	
}


#top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	background-color: white;
	border-bottom: 1px solid #e7e7e7;
}

#body {
	position: relative;
	margin: auto;
	width: 70%;
}

.container-fluid{
background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 55px;
    }


.search-user{
    position: relative;
        top: 14px;
        left: 58px;
    }