// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.profile{
    width: 90%;
    max-width: 1000px;
    margin:0 auto;
}

.profile__header{
    display: flex;
    margin-bottom: 45px;
}

.profile__avatar-container{
    width:30%;
    display: flex;
    justify-content: center;
}

.profile__name{
    display: flex;
    align-items:center;
}

.profile__title{
    margin-right:20px;
    font-size: 32px;
    font-weight: 300;

}

.profile__button{
    margin-right: 20px;
    border:1px solid rgba(0,0,0,.0975);
    color:black;
    padding:5px 20px;
    border-radius: 3px;
}

.profile__button:hover{
    color:white;
    background-color:  #3897f0;
}


.profile__avatar{
    width:152px;
    height: 152px;
    border-radius: 50%;
    animation: 70.5s potato infinite linear;
}



.profile__name,
.profile__numbers{
    display: flex;
    margin-bottom: 20px;
}


.profile__numbers li{
    margin-right: 20px;
    font-size: 16px;
}



#margin{
    margin-top: 28px;
}