// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.User-image img{
      height: 200px;
      width: 200px;
      border-radius: 111px;
      
  
}

  .user-name{
    position: relative;
    top: 10px;
    left: 159pxpx;
    font-size: 26px;

    }


    .follow-button {
      text-transform: uppercase;
      border-color: #4090db;
      color: #4090db;
      margin-left: 20px;
      &:visited, &:focus, &:hover {
        border-color: #2D6396;
        color: #2D6396;
      }
    }

    .unfollow-button {
      text-transform: uppercase;
      border-color: #66bd2b;
      background-color: #66bd2b;
      color: white;
      margin-left: 20px;
      &:visited, &:focus, &:hover {
        border-color: #47821F;
        background-color: #47821F;
        color: white;
      }
    }



   .prof-post-img img {
    position: relative;
    top: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 300px
    
}


img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}